<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memes GIF Page</title>
</head>
<body> 
<h1>{{title}}</h1>
<h1>{{heading}}</h1>
<h1>{{content}}</h1>
<h1>Memes GIFs</h1>
<!-- Replace the source URLs with actual URLs of your meme GIFs -->
<img src="https://i.gifer.com/y7.gif"   alt="Meme 1">
<img src="https://i.gifer.com/31Kl.gif" alt="Meme 2">
<img src="https://i.gifer.com/FPm.gif"  alt="Meme 3">
<img src="https://i.gifer.com/3zM0.gif" alt="Meme 4">
<img src="https://i.gifer.com/XOsX.gif" alt="Meme 5">
</body>
</html>
